<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-4">
            <form action="/admin/add-product" method="post" enctype="multipart/form-data">
                <legend style="font-weight: bold;">Add product</legend>

                <div class="form-group">
                    <label for="first_name">Product name</label>
                    <input type="text" class="form-control" name="Name" id="first_name" placeholder="product Name">
                </div>

                <div class="form-group">
                    <label for="last_name">Catogary</label>
                    <input type="text" class="form-control" name="Catogary" id="Catogary" placeholder="Catogary">
                </div>

                <div class="form-group">
                    <label for="email">Discription</label>
                    <input type="text" class="form-control" name="Discription" id="Discription" placeholder="Discription">
                </div>

                <div class="form-group">
                    <label for="pw">Price</label>
                    <input type="number" class="form-control" name="Price" id="pw" placeholder="Enter product price">
                </div>

                <div class="form-group">
                    <label for="pw_confirm">Image</label>
                    <input type="file" class="form-control" name="Image" id="pw_confirm" req required>
                </div>

                <button type="submit" class="btn btn-primary mt-3">Submit</button>
            </form>
        </div>
    </div>
</div>



